@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h3 {
    font-weight: 500;
    font-size: 1.5em;
    /* margin-bottom: 0.75em; */
}

h5 {
    font-weight: 500;
    font-size: 1.1rem;
}

section {
    margin-bottom: 2rem;
}

.nav-link {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.fleet-section {
    display: grid;
    grid-template-columns: 375px 1fr;
    column-gap: 1em;
}